/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

/* ROOT */

:root{
    /* Colors */
    --header-bg: #0084fd;
    --white-text: #ffffff;
    --black-text: #000000;
    --card-bg-blue: #b5ddff;
    --violet-section: #9792e4;

    /* Sizes */
    --header-text: 1.5rem;
}

/* COMMON */

.container{
    max-width: 90%;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.mb-2{
    margin-bottom: 2em;
}

.mt-2{
    margin-top: 2em;
}

.pt-3{
    padding-top: 3em;
}

.pb-3{
    padding-bottom: 3em;
}

.mb-4{
    margin-bottom: 4em;
}

.mr-2{
    margin-right: 2em;
}

.btn{
    padding: .5rem .8rem;
    border-radius: 15px;
}

.br-20{
    border-radius: 20px;
}

/* HEADER */

header{
    width: 100%;

    background-color: var(--header-bg);
    color: var(--white-text);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header i{
    font-size: var(--header-text);
    display: inline-block;
}

header .container{
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: none;
    align-items: center;
    justify-content: space-between;
}

header .btn{
    color: var(--black-text);
    background-color: var(--white-text);
}

/* MAIN */
/* Cards */
#demo .row{
    margin-top: 6rem;
}

#demo .card{
    background-color:var(--card-bg-blue);
    padding: .5rem .8rem;
    /* DEBUG */
    height: 500px;
    width: 100%;
}

.text-card{
    /* DEBUG */
    height: 50%;
    background-color: lightcoral;
}

.logo-card{
    /* DEBUG */
    height: 50%;
    background-color: lightseagreen;
}

.image-card{
    /* DEBUG */
    height: 40%;
    background-color: pink;
}

.blue{
    display: inline-block;
    color: var(--white-text);
    background-color: var(--header-bg);
}

/* Planning */
#planning{
    background-color: var(--violet-section);
    /* DEBUG */
    max-height: 1200px;
}

#planning .container{
    /* DEBUG */
    min-height: 100%;
}

#planning .card {
    /* DEBUG */
    height: 500px;
}

#planning .card:last-child {
    background-color: var(--white-text);
    padding: 2em;
    position: relative;
}

.violet{
    background-color: var(--violet-section);
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50% , -50%);
}






/* MEDIA QUERIES */
/* Tablet */
@media screen and (min-width: 768px) {
    /* First Section */
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: .5em;
    }
    
    #demo .card{
        width: calc(100% / 3 - 1em);
    }

    #demo .card:first-child{
        width: calc(100% / 3 * 2 - .5em);
    }

}

/* Desktop*/
@media screen and (min-width: 992px) {
    /* HEADER */
    header ul{
        display: flex;
    }

    header .container i{
        display: none;
    }

    /* First Section */
    #demo .card:first-child{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .big .text-card{
        height: 90%;
    }

    .big .image-card{
        height: 100%;
    }

    /* Second Section */
    #planning .container{
        display: flex;
    }

    #planning .card{
        width: 50%;
    }
}

/* Large Desktop */
@media screen and (min-width: 1200px) {

}